.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 30px;
  float: left;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.grid {
  height: 540px;
  width:  330px;
  padding: 20px;
  color: #6e6e6e;
}

.header {
  background-color: #2E2EFE;
  height: 60px;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 1.5em;
  border: 3px solid;
}

small {
  font-size: .5em;
}

.hangman-panel {
  background-color: #642EFE;
  height: 200px;
  color: white;
  padding: 20px;
  border: 3px solid;
} 

.hangman {
  display: block;
  margin-left: 25px;
}

.word-panel {
  background-color: #5882FA;
  height: 140px;
  color: white;
  padding:  20px;
  border: 3px solid;
}

.word {
  font-size: 1.5em;
  color: white;
}

.guesses {
  font-size: 1.5em;
  margin-top: 20px;
}

.enter {
  width: 285px;
  font-size: 1.5em;
  background-color: #5882FA;
  height: 50px;
  color: white;
  padding-left: 20px;
  border-width: 0px;
  border: none;
  margin-left: 2px;

}

.player-button {
  /* display: inline-block;  */
  float: left;
}

.status {
  background-color: #b27;
  height: 135px;
  color: white;
  padding: 20px;
  border: 3px solid;
}

.startbutton {
  float: right;
}

.footer {
  font-size: 0.8em;
  float: left;
  margin: 12px 0px 0px 3px;
}

#square {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 3px solid;
  border-color: #000;
  margin: 3px 3px 3px 0px; /* top right bottom left */
  color: black;
  font-size: 2em;
  text-align: center;
}

Button {
  margin: 5px 5px 5px 0px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.result {
  font-weight: bold;
  font-size: 1.3em;
}
